<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th class="cart-item__img">Sản phẩm</th>
        <th class="cart-item__name"></th>
        <th class="cart-item__price">Đơn Giá</th>
        <th class="cart-item__quantity">Số lượng</th>
        <th class="cart-item__total">Số tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="cart-item__img"><img src="/img/Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery.jpg" /></td>
        <td class="cart-item__name">Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery</td>
        <td class="cart-item__price">829.000</td>
        <td class="cart-item__quantity">
          <input value="1" class="form-control"/>
        </td>
        <td class="cart-item__total">829.000</td>
      </tr>
        <tr>
        <td class="cart-item__img"><img src="/img/Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - BlackWhite.jpg" /></td>
        <td class="cart-item__name">Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - BlackWhite</td>
        <td class="cart-item__price">1.200.000</td>
        <td class="cart-item__quantity">
          <input value="1" class="form-control"/>
        </td>
        <td class="cart-item__total">1.200.000</td>
      </tr>
          <tr>
        <td class="cart-item__img"><img src="/img/Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - White.jpg" /></td>
        <td class="cart-item__name">Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - White</td>
        <td class="cart-item__price">1.200.000</td>
        <td class="cart-item__quantity">
          <input value="1" class="form-control"/>
        </td>
        <td class="cart-item__total">1.200.000</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end" style="margin-right: 2rem;">
  <div class="align-self-center">Tổng tiền:</div>
  <input style="margin-left: 50px; text-align: right;" value="3.229.000" disabled/>
  <a style="margin-left: 50px;" class="btn btn-primary" href="/checkout">Thanh toán</a>
</div>