  <div class="row">
        <div class="card col-8">
          <h5>Thông tin người nhận hàng</h5>
          <br />
          <form>
            <div class="form-group">
              <label for="name">Tên người nhận</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nhập tên người nhận"
              />
            </div>
            <div class="form-group">
              <label for="address">Địa chỉ</label>
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Nhập địa chỉ người nhận"
              />
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                placeholder="Nhập số điện thoại"
              />
            </div>
          </form>
        </div>
        <div class="card col-3 d-block">
          <h5>Tổng thanh toán:</h5>
          <hr />
          <h4>20000000</h4>
          <hr />
          <button class="btn btn-primary">Thanh toán</button>
        </div>
      </div>