<div class="owl-carousel owl-theme" id="banner">
  <div class="item"><img src="banner-07.jpg" /></div>
  <div class="item"><img src="banner-08.jpg" /></div>
  <div class="item"><img src="banner-09.jpg" /></div>
</div>

<section>
  <h3>Hàng mới về</h3>
  <hr />
  <div class="owl-carousel owl-theme" id="newArrivals">
    <div class="item"><img src="banner-07.jpg" /></div>
    <div class="item"><img src="banner-08.jpg" /></div>
    <div class="item"><img src="banner-09.jpg" /></div>
  </div>
</section>
<section>
  <h3>Sản phẩm bán chạy</h3>
  <hr />
</section>
<section>
  <h3>Thương hiệu</h3>
  <hr />
  <div class="owl-carousel owl-theme" id="brands">
    <div class="item"><img src="nike-logo-complete.png" /></div>
    <div class="item"><img src="LOGO BITIS.jpg" /></div>
    <div class="item"><img src="vans.jpg" /></div>
    <div class="item"><img src="Converse-Logo-New.png" /></div>
    <div class="item"><img src="adidas-logo-hd-wallapper.jpg" /></div>
  </div>
</section>