<div class="row">
  <div class="col-6">
    <div class="owl-carousel owl-theme" id="banner">
      <div class="item"><img src="/img/Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery.jpg" /></div>
    </div>
  </div>
  <div class="col-6" style="margin-top: 15px;">
    <h5>Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery</h5>
    Thương hiệu: <a href="/category">Biti's</a>
    <hr />
    <h6 style="color: red;">829.000 đ</h6>
    <hr />
   Công nghệ LiteFlex độc quyền

<br>Co dãn 4 chiều, thoáng khí tối đa

<br>Định hình và trợ lực gót chân

<br>Đế lót kháng khuẩn và massage
    <hr />
    <div class="row">
      <div class="col-2">
        Kích cỡ:
      </div>
      <div class="col-3">
        <select class="form-control">
          <option>42</option>
          <option>41</option>
          <option>40</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-2">Số lượng:</div>
      <div class="col-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn" type="button">
              -
            </button>
          </div>
          <input type="text" class="form-control" value="1" />
          <div class="input-group-append">
            <button class="btn" type="button">
              +
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <a class="btn btn-primary" href="/cart">Thêm vào giỏ hàng</a>
  </div>
</div>
<br />
<div class="card">
  Thông tin sản phẩm
  <hr />
  Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400DOO - Đỏ với công nghệ đế LiteFlex độc quyền từ Biti's Hunter ứng dụng công nghê sản xuất IP trên nền chất liệu Phylon không chỉ giúp đôi chân cảm giác "Nhẹ nư bay" mà còn tăng vượt bậc độ đàn hồi, tạo độ linh hoạt và tự tin hơn khi chiều cao đế đạt tới 5cm.
<br>
Bên cạnh đó, dòng cao cấp Biti's Hunter X LiteFlex tiếp xúc kế thừa những ưu điểm vượt trội về mặt công nghệ và thiết kế từ các phiên bản tiền nhiệm:
<br>Tem TPU định hình và trợ lực gót chân.
<br>Mũ quai liteknit dệt có độ co dãn, thoáng khí tối đa.
<br>Đế lót kháng khuẩn, công nghệ 6 điểm giúp massage lòng bàn chân.
<br>Đế tiếp đất cao su cấu trúc chia rãnh và gồ ghề đảm bảo tính ma sát tốt nhất trên mọi địa hình.
<br>Bộ đế LitFlex:
<br>Chất liệu Phylon ứng dụng công nghệ IP "Nhẹ như bay" chỉ từ 204g.
<br>Chiều cao đế đạt tới 5cm.
<br>Độ đàn hồi >40%.
</div>
<br />
<div class="card" hidden>
  Đánh giá
  <hr />
</div>