html,
body {
  background: hsl(0, 0%, 96%);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: hsl(0, 0%, 13%);
  color: white;
  padding: 2rem 2rem;
  bottom: 0px;
  width: 100%;
}

.owl-carousel a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
.owl-carousel a:visited {
  color: coral;
  text-decoration: none;
}

/* mouse over link */
.owl-carousel a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
.owl-carousel a:active {
  color: black;
  text-decoration: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: coral;
  text-decoration: none;
}

main {
  min-height: 72vh;
  margin: 15px 3%;
}

#banner img {
  max-height: 400px;
}

.card {
  margin-right: 0.2rem;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 0 5px hsl(0, 0%, 90%);
}

a.card {
  color: black;
}

a:hover.card {
  color: black;
  text-decoration: none;
}

.flat {
  box-shadow: 0 0 0px hsl(0, 0%, 100%) !important;
  border-width: 0px;
}

.navbar {
  background: hsl(0, 0%, 13%);
}

.navbar i {
  color: hsl(0, 0%, 96%);
}

.price {
  color: #ff1919;
  font-weight: 600;
}

table {
  background: white;
}
