<section class="d-flex justify-content-center align-items-center">
  <div class="paper col-md-3 col-sm-7">
    <h4 class="text-center">Đăng ký</h4>
    <hr />
    <form method="post" action="/api/signup" id="signupForm" data-parsley-validate="">
      <div class="form-group">
        <label for="name">Họ tên</label>
        <input type="text" class="form-control" name="name" data-parsley-error-message="Chưa nhập tên"
          placeholder="Họ và tên" required="" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" data-parsley-trigger="change" placeholder="Nhập email"
          data-parsley-error-message="Email không hợp lệ" required="" />
      </div>
      <div class="form-group">
        <label for="pasword">Mật khẩu</label>
        <input type="password" class="form-control" name="password" id="password" data-parsley-minlength="8"
          data-parsley-error-message="Mật khẩu phải chứa ít nhất 8 ký tự" required=""
          placeholder="Nhập mật khẩu của bạn" />
      </div>
      <div class="form-group">
        <label for="pasword">Nhập lại mật khẩu</label>
        <input type="password" id="repass" class="form-control" name="repass" data-parsley-equalto="#password"
          required="" data-parsley-error-message="Mật khẩu không trùng khớp." placeholder="Nhập lại mật khẩu của bạn" />
      </div>
      <hr />
      <div class="d-flex justify-content-between">
        <a class="btn" href="/tai-khoan/dang-nhap">Đã có tài khoản</a>
        <input type="submit" value="Đăng ký" class="btn btn-success"></input>
      </div>
  </div>
</section>