<div class="owl-carousel owl-theme" id="banner">
  {{#each banners}}
  <div class="item"><img src={{this}} /></div>
  {{/each}}
</div>

<section>
  <h3>Hàng mới về</h3>
  <hr />
  <div class="owl-carousel owl-theme" id="newArrivals">
    {{#each newArrivals}}
    <div class="item"><img src={{this.img}} /></div>
    {{/each}}
  </div>
</section>
<section>
  <h3>Sản phẩm bán chạy</h3>
  <hr />
  <div class="owl-carousel owl-theme" id="hotItems">
    {{#each hotItems}}
    <div class="item"><img src={{this.img}} /></div>
    {{/each}}
  </div>
</section>
<section>
  <h3>Thương hiệu</h3>
  <hr />
  <div class="owl-carousel owl-theme" id="brands">
    {{#each brands}}
    <div class="item"><img src={{this.img}} /></div>
    {{/each}}
  </div>
</section>