<section class="container">
  <div class="paper">
    <br>
    <h3>Điều Khoản Sử Dụng</h3>
    <hr>
    <h5>1. Giới thiệu</h5>
    Chào mừng quý khách hàng đến với Sneakiie.
    Chúng tôi là một công ty không có thật và không có địa chỉ ở bất kỳ đâu.
    Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này.
    Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản mua bán hàng hóa này, vào
    bất
    cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi quý
    khách
    tiếp tục sử dụng trang web, sau khi các thay đổi về Điều khoản này được đăng tải, có nghĩa là quý khách chấp nhận
    với
    những thay đổi đó.
    Quý khách hàng vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.
    <br>
    <h5>2. Hướng dẫn sử dụng website</h5>
    Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ hay người
    giám hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán hàng hóa theo quy
    định
    hiện hành của pháp luật Việt Nam.
    Chúng tôi sẽ cấp một tài khoản (Account) sử dụng để khách hàng có thể mua sắm trên website Tiki.vn trong khuôn khổ
    Điều khoản và Điều kiện sử dụng đã đề ra.
    Quý khách hàng sẽ phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi
    nào.
    Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web. Hơn nữa, quý khách
    hàng phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm
    nào,
    dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do quý khách không tuân thủ quy định.
    Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba
    nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy tài
    khoản
    của khách mà không cần báo trước.
    Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Nếu không muốn tiếp tục nhận mail,
    quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.
    <br>
    <h5>3. Ý kiến của khách hàng</h5>
    Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất
    kỳ thông tin giả mạo nào, chúng tôi sẽ không quan tâm về vấn đề đó.
    <br>
    <h5>4. Chấp nhận đơn hàng và giá cả</h5>
    Chúng tôi có quyền từ chối hoặc hủy đơn hàng của quý khách vì bất kỳ lý do gì liên quan đến lỗi kỹ thuật, hệ thống
    một cách khách quan vào bất kỳ lúc nào.
    Ngoài ra, đơn hàng sẽ không bao giờ được giao đến quý khách hàng nên quý khách hàng không cần chuẩn bị hay chờ đơi
    trong vô vọng.
    <br>
    <h5>5. Thay đổi hoặc hủy bỏ giao dịch tại Tiki.vn</h5>
    Trong mọi trường hợp, khách hàng đều có quyền chấm dứt giao dịch trực tiếp trên website.
    <br>
    <h5>6. Giải quyết hậu quả do lỗi nhập sai thông tin</h5>
    Chúng tôi không quan tâm và sẽ không giải quyết bất kỳ điều gì.
    <br>
    <h5>9. Quy định về bảo mật</h5>
    Quý khách không được sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm
    thay đổi cấu trúc dữ liệu. Trang web cũng nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào
    nhằm can
    thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống. Cá nhân hay tổ chức vi phạm sẽ bị tước bỏ mọi quyền lợi cũng
    như sẽ bị truy tố trước pháp luật nếu cần thiết.
    Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu.
    <br>
  </div>
</section>