<h4>Đơn hàng của tôi</h4>
<div class="paper">
  <table class="table">
    <thead>
      <tr>
        <th class="w-10">Mã đơn hàng</th>
        <th class="w-10">Ngày mua</th>
        <th class="w-50">Sản phẩm</th>
        <th class="w-10">Tổng tiền</th>
        <th class="w-20">Trạng thái đơn hàng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w-10">2019052301</td>
        <td class="w-10">23/05/2019</td>
        <td class="w-50">Giày Converse</td>
        <td class="w-10">2.000.000</td>
        <td class="w-20">Đã hoàn thành</td>
      </tr>
      <tr>
        <td class="w-10">2019052301</td>
        <td class="w-10">23/05/2019</td>
        <td class="w-50">Giày Converse</td>
        <td class="w-10">2.000.000</td>
        <td class="w-20">Đã hoàn thành</td>
      </tr>
    </tbody>
  </table>
</div>