<div class="row">
  <div class="col-2">
    <h5>Giày nữ</h5>
  </div>
  <ul class="col-10 nav justify-content-end">
    <li class="nav-item align-self-center" style="padding-right: 10px;">
      Xem theo:
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-light" href="#">Mới nhất</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-light" href="#">Bán chạy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-light" href="#">Giá thấp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-light" href="#">Giá cao</a>
    </li>
  </ul>
</div>
<hr />
<div class="d-flex text-left">
  <div class="card">
    <img class="card-img-top"
      src="/img/Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery.jpg"
      alt="Card image cap" />
    <div class="card-body">
      <a href="/detail">
        <h6 class="card-title">Giày Thể Thao Nữ Biti's Biti’s Hunter X – 2K18 – DSUH00400TIM - Midnight Mystery.</h6>
      </a>
      <p class="card-text">
        829.000 đ
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
      src="/img/Giày Sneaker Converse Chuck Taylor All Star Seasonal Color 161417C - Punch Coral.jpg"
      alt="Card image cap" />
    <div class="card-body">
      <a href="/detail">
        <h6 class="card-title">Giày Sneaker Converse Chuck Taylor All Star Seasonal Color 161417C - Punch Coral</h6>
      </a>
      <p class="card-text">
        1.200.000 đ
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - White.jpg"
      alt="Card image cap" />
    <div class="card-body">
      <a href="/detail">
        <h6 class="card-title">Giày Sneaker Unisex Converse Chuck Taylor All Star Classic Low - White</h6>
      </a>
      <p class="card-text">
        1.200.000 đ
      </p>
    </div>
  </div>
</div>
<br />
<div class="text-center">
  <a class="btn btn-info" href="#">Xem thêm</a>
</div>
</div>